/* All styles for your Card Components live here */


.card-container {
  width: 500px;
  padding-left: 80px;
}

.react-banner {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.card-content {
  margin-top: -5px;
  padding: 10px 10px 0 15px;
  border: 1px solid lightgrey;
  border-radius: 0 0 8px 8px;
}

.card-content-title {
  font-size: 14px;
  font-weight: 600;
}

.card-content-text {
  font-size: 14px;
  font-weight: 400;
}

.card-link a {
  text-decoration: none;
  color: darkgrey;
  font-size: 14px;
  font-weight: 300;
}