/* All styles for your header Components live here */

.header-container {
  display: flex;
}

.image-thumbnail {
  display: inline-block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 10px;
}

.header-title {
  font-size: 16px;
  font-weight: 600;
}

.header-title span {
  color: darkgrey;
  font-size: 13px;
  font-weight: 300;
  padding-left: 5px;
}

.header-content {
  font-size: 15px;
}